/* Reminder: delete empty rulesets */

/* ****************************** */
/*       Universal selector       */
/* ****************************** */
* {

}

/* ****************************** */
/*        Color selectors         */
/* ****************************** */
:root {
--Drk-Green: #679436;
--Lht-Green: #45be00;
--Lht-Blue: #ebf2fa;
--Med-Blue: #427aa1;
--Drk-Blue: #05668d;
--Wht: #ffff; 
--Mich: 'Michroma', sans-serif;
}

/* ****************************** */
/*       Element selectors        */
/* ****************************** */

/*Header formatting, font, and color*/
header {

}

.title-page {
    font-family: var(--Mich);
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    color: var(--Lht-Blue);
}

/* Banner image needs to be turned in a flex -MARIA */
.banner {
    height: 185px;
    width: 100%;
    background-image: url(../img/header.png);
}

/*Background formatting, font, and color*/
body {
background-image: url("../img/Owen\ Wilson.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: scroll;
} 

/*Nav bar within header formatting, font, and color*/
.custom-nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 40px;
    background-color: var(--Med-Blue);
}

.flex a {
    padding: 8px 30px;
}

.custom-about, .custom-projects, .custom-donate {
    font-family: var(--Mich); 
    background-color: var(--Med-Blue);
    color: var(--Lht-Blue);
    margin-top: 2px;
}

.custom-about:hover , .custom-projects:hover , .custom-donate:hover {
    background-color: var(--Drk-Green);
    color: var(--Wht);
}

.custom-display {
    background-color: var(--Drk-Blue);
}

.custom-search {
    font-family: var(--Mich);
}

.custom-search:hover {
    background-color: var(--Drk-Green);
    color: var(--Wht)
}

.inputIcon i {
    position: absolute;
    margin-top: 18px;
    padding-left: 8px;
}
.inputIcon {
    width: 100%;
    margin-bottom: 10px;
   
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.inputField {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
}

/* Heading formatting, font, and color */
.heading {
    font-size: 50px;
    font-family: var(--Mich);
    color: var(--Lht-Blue);
}

.custom-p {
    font-family: var(--Mich);
    font-weight: bold;
    color: var(--Lht-Blue);
    background-color: rgba(0,0,0,.5)
}
/* Section formatting */
section {

}

/* Article formatting */
article { 

}

/*Paragraph formatting, font, and color*/
p {

}

/* ****************************** */
/*        Class selectors         */
/* ****************************** */

/*Header formatting, font, and color*/
.header {

}

/*Background formatting, font, and color*/
.body {

}

/* Heading formatting, font, and color */
.h1 {

}

/* Aside headers formatting, font, and color */
.aside {

}

/*Nav bar within header formatting, font, and color*/
.nav {

}

/* Section formatting */
.section {

}

/* Article formatting */
.article { 

}

/*Paragraph formatting, font, and color*/
.p {

}

/* ****************************** */
/*          ID selectors          */
/* ****************************** */
/*Header formatting, font, and color*/
#header {

}

/*Background formatting, font, and color*/
#body {

}

/* Heading formatting, font, and color */
#h1 {

}

/* Aside headers formatting, font, and color */
#aside {

}

/*Nav bar within header formatting, font, and color*/
#nav {

}

/* Section formatting */
#section {

}

/* Article formatting */
#article { 

}

/*Paragraph formatting, font, and color*/
#p {

}

/* Map */
/* must have defined height and width to appear */
#viewDiv {
    padding: 0;
    margin: 30px;
    min-height: 450px;
    height: 450px;
    width: 70%;
}

/* ****************************** */
/* Formatting for media inquiries */
/* ****************************** */

/* Laptop */
@media screen and (max-width: 1024px) {

}

/* iPads and Tablets */
@media screen and (max-width: 768px) {

}

/* Mobile devices */
@media screen and (max-width: 500px) {
    .title-page {
        font-family: var(--Mich);
        font-size: 50px;
        text-align: center;
        padding-top: 50px;
        color: var(--Drk-Blue);
    }
    .custom-nav {
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 40px;
        background-color: var(--Lht-Blue);
    }
    .custom-about, .custom-projects, .custom-donate {
        font-family: var(--Mich); 
        background-color: var(--Lht-Blue);
        color: var(--Drk-Blue);
        margin-top: 2px;
    }
    .custom-about:hover , .custom-projects:hover , .custom-donate:hover {
        background-color: var(--Lht-Green);
        color: var(--Wht);
    }
    .custom-display {
        background-color: var(--Med-Blue);
    }
    {
        height: 20px;
    }
    .custom-search:hover {
        background-color: var(--Lht-Blue);
        color: var(--Drk-Blue)
    }
    .heading {
        font-size: 50px;
        font-family: var(--Mich);
        color: var(--Lht-Green);
    }
    .custom-p {
        font-family: var(--Mich);
        font-weight: bold;
        color: var(--Lht-Green);
    }
}