/* Reminder: delete empty rulesets */

/* ****************************** */
/*        Color selectors         */
/* ****************************** */
:root {
--Drk-Green: #679436;
--Lht-Green: #45be00;
--Lht-Blue: #ebf2fa;
--Med-Blue: #427aa1;
--Drk-Blue: #05668d;
--Wht: #ffff; 
--Mich: 'Michroma', sans-serif;
}

/* ****************************** */
/*       Element selectors        */
/* ****************************** */

.title-page {
    font-family: var(--Mich);
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    color: var(--Lht-Blue);
}

/* Banner image needs to be turned in a flex -MARIA */
.banner {
    height: 185px;
    width: 100%;
    background-image: url(../img/header.png);
}

.wow-logo {
    position: absolute;
    top: 43px;
    left: 1.2cm;
    border-radius: 90px 90px 90px 90px;
}

/*Background formatting, font, and color*/
body {
background-image: url("../img/Owen\ Wilson.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
} 

/*Nav bar within header formatting, font, and color*/
.custom-nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 40px;
    background-color: var(--Med-Blue);
}

.flex a {
    padding: 8px 30px;
}

.custom-wow {
    padding: 8px 30px;
}

.custom-about, .custom-projects, .custom-donate, .custom-wow {
    font-family: var(--Mich); 
    background-color: var(--Med-Blue);
    color: var(--Lht-Blue);
    margin-top: 2px;
}

.custom-about:hover , .custom-projects:hover , .custom-donate:hover, .custom-wow:hover {
    background-color: var(--Drk-Green);
    color: var(--Wht);
}

.custom-display {
    background-color: var(--Drk-Blue);
    background-size: auto;
}

.custom-search {
    font-family: var(--Mich);
    background-size: auto;
}

.custom-search:hover {
    background-color: var(--Drk-Green);
    color: var(--Wht)
}

.inputIcon i {
    position: absolute;
    margin-top: 18px;
    padding-left: 8px;
}
.inputIcon {
    width: 100%;
    margin-bottom: 10px;
   
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.inputField {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
}

/* Heading formatting, font, and color */
.heading {
    font-size: 50px;
    font-family: var(--Mich);
    color: var(--Lht-Blue);
}

.custom-p {
    font-family: var(--Mich);
    font-weight: bold;
    color: var(--Lht-Blue);
    background-color: rgba(0,0,0,.5)
}
.customLinkDiv {
    text-align: center;
    justify-content: center;
    font-family: var(--Mich);
    color: var(--Lht-Blue);
    z-index: 5;
    height: 50px;
}
.customBtn {
    height: 30px;
    width: 50px;
    color: black;
    font-family: var(--Mich);
    font-weight: bold;
    z-index: 5;
}
.customForecast {
    font-family: var(--Mich);
    width: fit-content;
    height: fit-content;
    background-color: rgba(0,0,0,.5)
}
/* Map */
/* must have defined height and width to appear */
#viewDiv {
    padding: 0;
    margin: 30px;
    min-height: 450px;
    height: 450px;
    width: 70%;
}

/* ****************************** */
/* Formatting for media inquiries */
/* ****************************** */

/* Laptop */
@media screen and (max-width: 1024px) {

}

/* iPads and Tablets */
@media screen and (max-width: 768px) {

}

/* Mobile devices */
@media screen and (max-width: 500px) {
    .wow-logo {
        visibility: hidden;
    }
    .title-page {
        font-family: var(--Mich);
        font-size: 50px;
        text-align: center;
        padding-top: 45px;
        color: var(--Drk-Blue);
    }
    .custom-nav {
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 60px;
        background-color: var(--Lht-Blue);
    }
    .custom-about, .custom-projects, .custom-donate, .custom-wow {
        font-family: var(--Mich); 
        text-align: center;
        background-color: var(--Lht-Blue);
        color: var(--Drk-Blue);
        margin-top: 2px;
    }
    .custom-about:hover , .custom-projects:hover , .custom-donate:hover, .custom-wow:hover {
        background-color: var(--Lht-Green);
        color: var(--Wht);
    }
    .custom-display {
        background-color: var(--Med-Blue);
    }
    
    .custom-search:hover {
        background-color: var(--Lht-Blue);
        color: var(--Drk-Blue)
    }
    .heading {
        font-size: 50px;
        font-family: var(--Mich);
        color: var(--Lht-Green);
    }
    .custom-p {
        font-family: var(--Mich);
        font-weight: bold;
        color: var(--Lht-Green);
    }
}